* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Geist";
  font-style: Light;
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
  scroll-behavior: smooth;
}

:root {
  --carousel-gap: calc(37.412px + 75px);
  --main-dark: RGB(17, 16, 15);
  --secondary-text: rgb(246, 248, 251);
  --transition: 0.2s;
  --responsive-h1-font-size: 80px;
  --responsive-font-size: 80px;
  --responsive-p-font-size: 20px;
  --border-radius: 8px;
  --title-padding: 180px 0px 80px 0px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scroll-animate {
  opacity: 0;
  transform: translateY(30px);
}

.scroll-animate.animated {
  animation: fadeInUp 0.8s ease-out forwards;
}

.fade-animate {
  opacity: 0;
}

.fade-animate.animated {
  animation: fadeIn 0.6s ease-out forwards;
}

.page-load-fade {
  animation: fadeIn 1.5s ease-in-out forwards;
}

.delayed {
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
}
.album__img__delayed {
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
}

/* Скрыть полосу прокрутки */
html {
  scrollbar-width: none; /* Для Firefox */
  -ms-overflow-style: none; /* Для Internet Explorer и Edge */
}
html::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari и Opera */
}

.bg-card {
  border-radius: 8px;
  background-size:
    1280px 600px,
    auto;
  background-position: left top;
  background-image:
    image-set(
      url(../images/card_bg_small.png) 1x,
      url(../images/card_bg_large.png) 2x
    ),
    none;
  background-color: rgb(245, 245, 245);

  color: var(--main-dark);
}

h1,
h2 {
  color: rgba(15, 14, 14, 1);
  font-size: 40px;
  font-weight: 400;
  line-height: 95%;
  letter-spacing: -4%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.d-flex {
  display: flex;
}
.mobile-only {
  display: none;
}
.italic {
  font-family: "Instrument Serif";
  font-style: Italic;
  font-size: 80px;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -2%;
}
.p-120-64 {
  padding: 120px 0;
}
p {
  font-size: var(--responsive-p-font-size);
}
.btn {
  letter-spacing: -2%;
  border-radius: 999px;
  color: var(--main-dark);
  transition: var(--transition);
  cursor: pointer;
}
/* p
{
    font-size: 20px;
    font-weight: 300;
    line-height: 140%;
} */
section {
  align-items: center;
  justify-content: center;
}

body {
  color: white;
  font-family: "Geist", sans-serif;
  background-size:
    1280px 600px,
    auto;
  background-position: left top;
  background-image:
    image-set(url(../images/bg_small.png) 1x, url(../images/bg_large.png) 2x),
    none;
  background-color: rgb(15, 14, 14);
}

main {
  width: 100%;
  padding: 0 10px;
}

.container {
  max-width: 1280px;
  margin: auto;
  width: 100%;
}

.subscribe {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 80px 40px 80px 40px;
  overflow: hidden;
}
.subscribe .bg__img {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.subscribe .bg__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.subscribe .bg__letter {
  max-width: 1024px;
  min-width: 800px;
  width: 100%;
  margin: auto;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subscribe .content {
  width: 100%;
  min-height: 520.45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform-origin: center;
  transform: rotate(-6deg);
  gap: 32px;
}
.subscribe .content p {
  margin-top: 15px;
  color: var(--main-dark);
}
.subscribe .content button.btn {
  height: 68px;
  padding: 0px 24px 0px 24px;
  border: none;
  outline: none;
  color: rgba(246, 248, 251, 1);
  background-color: var(--main-dark);
}





.contact-us
{
  display: flex;
  padding: 80px 40px;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}
.contact-us .contact-content,
.contact-us .contact-form
{
  max-width: 580px;
  min-width: 340px;
  width: calc((100% - 40px) / 2);
}
.contact-us .contact-content
{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact-us .contact-content h2
{
  color: #F6F8FB;

  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 95%;
  letter-spacing: -1.6px;
}
.contact-us .contact-content p,
.contact-us .contact-content a
{
  color: #F6F8FB;

  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: -0.4px;
}


.contact-us .contact-form form
{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contact-us .contact-form p
{
  position: relative;
}
.contact-us .contact-form p label
{
  left: 0;
  position: absolute;
  font-size: 20px;
  top: 0;
  z-index: -1;
  transition: .3s;
}
.contact-us .contact-form p input,
.contact-us .contact-form p textarea
{
  width: 100%;
  font-size: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #F6F8FB;
  color: #fff;
}
.contact-us .contact-form p textarea
{
  min-height: 400px;
  max-height: 500px;
  padding: 10px;
  border: 1px solid #F6F8FB;
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 3px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background: #F6F8FB;
}
.contact-us .contact-form p textarea ~ label
{
  top: 10px;
  left: 10px;
}
.contact-us .contact-form p .form__input:focus ~ label,
.contact-us .contact-form p .form__input:not(:placeholder-shown).form__input:not(:focus) ~ label
{
  top: -20px;
  left: 0;
  font-size: 12px;
  color: var(--secondary-text);
}
.contact-us .contact-form .btn
{
  display: flex;
  justify-content: flex-end
}
.contact-us .contact-form button
{
  display: flex;
  width: max-content;
  height: 68px;
  padding: 0 24px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background-color: var(--secondary-text);
  border: none;
  outline: none;

  color: #0F0E0E;
  font-family: "Geist";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 28px */
  letter-spacing: -0.4px;
  cursor: pointer;
  transition: .3s;
}
.contact-us .contact-form button:hover {
  background: var(--main-dark);
  color: #fff;
}





@media (max-width: 1280px) {
  :root {
    --responsive-font-size: 64px;
    --responsive-h1-font-size: 60px;
  }

  .desktop {
    display: none;
  }
  .tablet {
    display: none;
  }
  .mobile {
    display: block;
  }
  .subscribe h2 {
    font-size: 64px;
  }
}
@media (max-width: 768px) {
  :root {
    --responsive-font-size: 40px;
    --responsive-h1-font-size: 34px;
    --responsive-p-font-size: 18px;
  }

  .desktop {
    display: none;
  }
  .tablet {
    display: none;
  }
  .mobile {
    display: block;
  }

  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }

  .subscribe h2 {
    font-size: 40px;
  }
  .subscribe .bg__letter {
    max-width: none;
    min-width: 0;
    height: 277px;
    width: auto;
  }

  .subscribe .content {
    transform: rotate(0deg);
    gap: 0;
  }
  .subscribe .content button.btn {
    /* Button - small */
    height: 56px;
    padding: 0px 16px 0px 16px;
  }

  
  
  .contact-us
  {
    flex-direction: column;
    align-items: center;
  }
  .contact-us .contact-content, .contact-us .contact-form
  {
    width: 100%;
    min-width: 275px;
  }
}
